<html>
<head>
<script>
function affichage(){
	alert("Tout es OK !");
}
function cacher(){
	document.getElementById('DuTexte').style.display="None";
}
function presenter(){
	document.getElementById('DuTexte').style.display="Block";
}

function controler(){
	if(document.getElementById('Control').checked){
			alert("static/images/image1.jpg");
		}
	else{alert("Bouton option NON coché");}		
}

function controler(){
	if(document.getElementById('1').checked){
	document.getElementById('img1').style.display="Block";
	}
	else document.getElementById('').style.display="None";
}
function controler(){
	if(document.getElementById('2').checked){
	document.getElementById('').style.display="Block";
	}
	else document.getElementById('').style.display="None";
}

function controler(){
	if(document.getElementById('3').checked){
	document.getElementById('img3').style.display="Block";
	}
	else document.getElementById('DuTexte').style.display="None";
}

</script>
</head>
<body>
<h1>Mes outils</h1>
<hr/>
<h2>Boite de dialogue</h2>
<button onclick="affichage()">Afficher</button>
<hr/>
<p id="DuTexte">Ma phrase de texte</p>
<button onclick="presenter()">Presenter</button>
<button onclick="cacher()">Cacher</button>
<hr/>
<p>Option<input type="checkbox" id="Control"></p>
<button onclick="controler()">Check</button>
<hr/>
<h3>Images à afficher :</h3>
<p>Image 1<input type="checkbox" id="1"></p>
<button onclick="controler()">Check</button>
<p>Image 2<input type="checkbox" id="2"></p>
<button onclick="controler()">Check</button>
<p>Image 3<input type="checkbox" id="3"></p>
<button onclick="controler()">Check</button>
<hr/>

<img id="img1" src="{{ url_for('static', filename='images/image1.png') }}" alt="Logo">
<img id="img2" src="{{ url_for('static', filename='images/image2.png') }}" alt="Logo">
<img id="img3" src="{{ url_for('static', filename='images/image3.png') }}" alt="Logo">

</body>
</html>
