<html>
<head>
<script>

document.getElementById('img1').style.display="None";
document.getElementById('img2').style.display="None";
document.getElementById('img3').style.display="None";

function image1(){
	if(document.getElementById('1').checked){
	document.getElementById('img1').style.display="Block";
	}
	else document.getElementById('img1').style.display="None";
}
function image2(){
	if(document.getElementById('2').checked){
	document.getElementById('img2').style.display="Block";
	}
	else document.getElementById('img2').style.display="None";
}

function image3(){
	if(document.getElementById('3').checked){
	document.getElementById('img3').style.display="Block";
	}
	else document.getElementById('img3').style.display="None";
}

</script>
</head>
<body>
<h3>Images à afficher :</h3>
<p>Image 1<input onclick="image1()" type="checkbox" id="1"></p>
<p>Image 2<input onclick="image2()" type="checkbox" id="2"></p>
<p>Image 3<input onclick="image3()" type="checkbox" id="3"></p>
<hr/>

<img id="img1" src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Logo">
<img id="img2" src="{{ url_for('static', filename='images/image2.jpg') }}" alt="Logo">
<img id="img3" src="{{ url_for('static', filename='images/image3.jpg') }}" alt="Logo">

</body>
</html>
